.container {
  width: 100%;
  height: 100%;
  .top {
    width: 750rpx;
    height: 500rpx;
    background:#062C44 ;
    .image_wrap{
      width: 350rpx;
      height: 400rpx;
      position: relative;
      left: 200rpx;
      top:50rpx;
      border-radius: 3rpx;
      .image_big{
        width: 350rpx;
        height: 400rpx;
        border-radius: 3rpx;
        position: absolute;
        left: 0;
        top: 0;
      }

    }
  }
  .middle{
    width: 750rpx;
    height: 590rpx;
    .middle_top{
      width: 750rpx;
      height: 190rpx;
      .title_desc{
        margin-top: 20rpx;
        width: 710rpx;
        height: 50rpx;
        margin-left: 20rpx;
        font-size: 28rpx;
        text-align: left;
        line-height: 50rpx;
        letter-spacing: 2rpx;
        font-weight: 500;
        -webkit-text-stroke: 0.1rpx;
      }
      .des{
        width: 710rpx;
        height: 40rpx;
        margin-left: 20rpx;
        font-size: 25rpx;
        text-align: left;
        line-height: 40rpx;
        letter-spacing: 2rpx;
        font-weight: 500;
        -webkit-text-stroke: 0.2rpx;
      }
      .descriptions{
        width: 710rpx;
        height: 80rpx;
        margin-left: 20rpx;
        display: flex;
        .lefts{
          width: 500rpx;
          height: 150rpx;
          .des_left{
            height: 40rpx;
            width:500rpx;
            text-align: left;
            font-size: 25rpx;
            line-height: 40rpx;
          }
        }
        .rights{
          width: 120rpx;
          height: 60rpx;
          margin-right: 20rpx;
          border-radius: 5rpx;
          font-size: 22rpx;
          text-align: center;
          line-height: 60rpx;
          border: 1rpx solid rgba(252,139,89,0.7);
        }
      }
    }
    .middle_mid{
      width: 710rpx;
      height: 400rpx;
      margin-left: 20rpx;
      .jianjie{
        width: 710rpx;
        height: 40rpx;
        text-align: left;
        font-size: 26rpx;
        -webkit-text-stroke: 0.1rpx;
      }
      .jianjie_desc{
        width: 710rpx;
        height: 120rpx;
        text-align: left;
        font-size: 22rpx;
        letter-spacing: 2rpx;
        overflow: hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:4;
      }
      .photo_wraps{
        width: 710rpx;
        height: 200rpx;
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        .photo{
          width: 150rpx;
          height: 200rpx;
          margin-right: 20rpx;
        }
      }
    }
    .bottom{
      width: 710rpx;
      height:auto;
      margin-left: 20rpx;
      .title_b{
      margin-top: 20rpx;
      width: 710rpx;
      height: 50rpx;
      margin-left: 20rpx;
      font-size: 28rpx;
      text-align: left;
      line-height: 50rpx;
      letter-spacing: 2rpx;
      font-weight: 500;
      -webkit-text-stroke: 0.1rpx;
    }
      .bottom_wrap{
        width: 710rpx;
        height:auto;
        .item{
          width: 710rpx;
          height:300rpx;
          display: flex;
          justify-content: left;
          .item_left{
            width: 40rpx;
            height: 300rpx;
            .pic{
              width: 40rpx;
              height: 40rpx;
              border-radius: 50%;
            }
          }
          .item_right{
            width: 670rpx;
            height: 300rpx;
          }
        }
      }
    }
  }
}
